@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*
Main blue : #0065FC
Main blue (light) : #DEEBFF
Background: #F2F2F2
*/

/* GENERAL */

body {
	font-family: 'Raleway';
	margin: 0;
	padding: 0;
}

.container {
	margin: 0px 50px 0px 50px;
}

/* HEADER */
/** NAVBAR **/

.navbar {
	width: 100%;
	height: 100px;
	position: relative;
}

.navbar-links {
	float: right;
}

.navbar-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	display: inline-block;
	padding: 46px 23px 10px 23px;
}

.navbar-links li:hover {
	border-top: 2px solid #0065FC;
}

.navbar-links li:hover a {
	color: #0065FC;
}

.navbar-links li a {
	font-size: 16px;
	text-decoration-line: none;
	display: block;
}

.navbar-links li a {
	color: #000000;
}

.navbar-links li:nth-child(3) a {
	color: #0065FC !important;
	font-weight: 900;
}

.logo {
	position: absolute;
	left: 0;
	bottom: 0;
}





.presentation {
	margin-top: 50px;
}

.title {
	font-size: 16px;
	font-weight: 900;
}

.subtitle {
	font-size: 13px;
	font-weight: 400;
}



.research {
	margin-top: 8px;
}

.research a {
	font-size: 13px;
	font-weight: 900;
	display: block;
	padding: 18px 10px 18px 10px;
}

/***

	HEADER
		NAVBAR
			LI
				:hover
					border-top: 2px solid #0065fc;
				width: 162px;

				A
					font-size: 16px;
					color: #0065fc;
				A:nth-child(2)
					color: #000000;
				A:nth-child(3)
					font-weight: 900;

		LOGO
			width: 96px;
			height: 29px;

body {
	font-family: "Raleway";
	margin: 0;
}

.container {
	margin-left: 50px;
	margin-right: 50px;
}
/*


nav {
	height: 100px;
}

.logo {
	margin-left: 50px;
	margin-top: 30px;
}

.navbar-links {
	float: right;
}

.navbar-links li {
	display: inline-block;
	padding: 30px;
}

.navbar-links li:hover {
	border-top: 3px solid #0065fc;
}

.navbar-links li a {
	color: #0065fc;
	text-decoration-line: none;
}

.inactivate a {
	color: #333 !important;
}

.navbar-links li .signup {
	font-weight: 700;
}




header h1 {
	font-size: 21px;
}

header p {
	font-size: 16px;
}




.research {
	width: 420px;
	height: 51px;
	background: linear-gradient(to right, #f2f2f2, #fff);
}

.research input {
	width: 234px;
	height: 49px;
	border: none;
}

.research button {
	width: 134px;
	height: 51px;
	background-color: #0065fc;
	color: white;
	border-radius: 0 15px 15px 0;
	border: none;
}




.filters h1 {
	font-size: 14px;
}

.filter {
	padding: 10px;
	 
    	border: 2px solid #D9D9D9;
    	border-radius: 30%;

	font-weight: 900;
}

.container-filter {
	width: 192px;
	height: 46px;
	border: 2px solid grey;
	border-radius: 22px;
}

.container-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #deebff;
	text-align: center;
}

.container-icon i {
	line-height: 50px;
	vertical-align: middle;
}

.accommodation-number {
	color: #0065fc;
}

.informations {
	margin: 50px 0px 50px 0px;
}




.marseille-accommodation {
	width: 880px;
	height: 626px;
	background-color: #efefef;
	display: flex;
	flex-flow: wrap;
	margin: 0px;
	border-radius: 17px;
}

.marseille-accommodation .container {
	margin-left: 40px;
	margin-right: 40px;
}

.marseille-accommodation .title {
	font-size: 21px;
}

.marseille-accommodation .more {
	font-size: 18px;
}

.marseille-accommodation .cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.marseille-accommodation .card {
	margin-right: 11px; // 31px
}

.marseille-accommodation .card img {
	width: 236px;
	height: 114px;
	border-radius: 13px 13px 0 0;
	object-fit: cover;
}

.marseille-accommodation .card .card-informations * {
	margin: 0px;
}

.marseille-accommodation .card .card-informations {
	margin-left: 16px;
}

.marseille-accommodation .card .card-informations h1 {
	margin-top: 12px;
	font-size: 16px;
}

.marseille-accommodation .card .card-informations p {
	margin-top: 7px;
	font-size: 14px;
}

.marseille-accommodation .card .card-informations .rating {
	margin-top: 8px;
	margin-bottom: 11px;
	font-size: 12px;
}




.container-popular-accommodation {
	width: 487px;
	height: 626px;
	margin: 0px;
}

.most-popular {
	float: right;
}





.container-popular-accommodation .cards {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.card {
	width: 246px;
	height: 200px;
	padding-top: 5px;
	margin-bottom: 50px;
	border-radius: 20px;
	background-color: white;
}

.card-informations h1 {
	font-size: 14px;
}

.card-informations p {
	font-size: 12px;
}

.card-informations {
	margin-left: 17px;
}

.card img {
	width: 236px;
	height: 114px;
	top: 5px;
	border-radius: 20px 20px 0px 0px;
	display: block;
	margin: auto;
}

.rating {
	margin-top: -5px;
}

.rating .fa-star {
	color: #d9d9d9;
}

.rating .obtained {
	color: #0065fc;
}




footer {
	background-color: #f2f2f2;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
}

.footer-link {
	text-decoration-line: none;
	color: #000;
}

.container-links {
	display: flex;
	flex-direction: column;
}

.container-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container-links a {
	margin-bottom: 10px;
}
